header {
  width: 99.9%;
  height: auto;
  padding-bottom: 0.6vw;
  box-shadow: 0 0 0.5vw black;
  position:fixed;
  z-index: 100;
  background-color: white;
  top: 0;
}
@keyframes anime-rotate {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
        transform: rotateZ(360deg);
    }
}
header nav {
  width: 99.8%;
  height: auto;
  display: flex;
}
header nav .log {
  width: auto;
  height: auto;
  display: flex;
  padding-top: 1.5vw;
  margin-right: 17vw;
}

header nav .log #logo1 {
  width: 3vw;
  height: 3vw;
  margin: -0.6vw 1vw 0.5vw 1.5vw;
  animation: anime-rotate 3s ease infinite;
}
header nav .log #logo1:hover{
  box-shadow: 0 0 0.5vw #2DAAE1;
  cursor: pointer;
}
header nav .log #logo2 {
  width: 9vw;
  height: 3vw;
  margin-top: -0.4vw;
}
header nav .navigation {
  height: auto;
  width: 25vw;
  margin: 1.7vw 1vw 0vw 3.5vw;
  display: flex;
  justify-content: space-around;
  margin-right: 22vw;
}
header nav .navigation li {
  list-style: none;
}
header nav .navigation li a {
  text-decoration: none;
  color: black;
  font-size: 1.4vw;
}
header nav .navigation li a:hover {
  color: #2daae1;
  box-sizing: 0 0 0.5vw;
}
header nav .btn {
  width: 19vw;
  height: auto;
  display: flex;
  margin-top: 1.1vw;
  margin-left: -5vw;
  margin-right: 1vw;
  justify-content: space-between;
}
